@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@layer base {
  .h0 {
    @apply !text-3xl !font-bold md:!text-5xl !tracking-normal;
  }

  h1,
  .h1 {
    @apply !text-2xl !font-bold md:!text-4xl !tracking-normal;
  }

  h2,
  .h2 {
    @apply !text-xl !font-bold md:!text-3xl !tracking-normal;
  }

  h3,
  .h3 {
    @apply !text-lg !font-bold md:!text-2xl !tracking-normal;
  }

  h4,
  .h4 {
    @apply !text-base !font-bold md:!text-lg !tracking-normal;
  }

  body,
  p,
  .p {
    @apply text-base md:text-lg tracking-wide;
  }

  .text-display {
    @apply !text-inherit !text-base !tracking-wide !font-normal md:!text-lg;
  }

  .text-gradient {
    @apply bg-gradient-to-r from-primary via-neutral-600 to-secondary bg-clip-text text-transparent;
  }
}

@layer components {
  .custom-player-subtitle {
    .art-subtitle {
      p {
        @apply bg-player-subtitle-background-color p-1 m-0 !text-player-subtitle-font-size;
      }
    }
  }

  .custom-player-layer-auto-playback {
    .art-video-player {
      .art-layers {
        .art-layer-auto-playback {
          @apply !rounded-lg !border !border-solid !border-border !shadow-lg !backdrop-blur-md !backdrop-saturate-200 !bg-neutral/[0.6];
        }
      }
    }
  }

  .custom-player-contextmenus {
    .art-video-player.art-contextmenu-show {
      .art-contextmenus {
        @apply !rounded-lg !border !border-solid !border-border !shadow-lg !backdrop-blur-md !backdrop-saturate-200 !bg-neutral/[0.6];
      }
    }
  }

  .custom-player-info {
    .art-video-player.art-info-show {
      .art-info {
        @apply !rounded-lg !border !border-solid !border-border !shadow-lg !backdrop-blur-md !backdrop-saturate-200 !bg-neutral/[0.6];
      }
    }
  }

  .custom-player-notice-inner {
    .art-notice-inner {
      @apply !rounded-lg !border !border-solid !border-border !shadow-lg !backdrop-blur-md !backdrop-saturate-200 !bg-neutral/[0.6];
    }
  }

  .custom-mini-player-hover {
    .art-video-player:hover {
      @apply [&_.art-layer-mask]:block [&_.art-layer-mask]:!bg-neutral/[0.6] [&_.art-layer-playPauseButton]:block [&_.art-layer-miniTopControlButtons]:block
    }
  }

  .custom-player-volume-control {
    .art-video-player {
      .art-volume-panel {
        .art-volume-inner {
          @apply !rounded-lg !border !border-solid !border-border !shadow-lg !backdrop-blur-md !backdrop-saturate-200 !bg-neutral/[0.6];
        }
      }
    }
  }

  .custom-player-icon-after {
    .art-icon::after {
      @apply !rounded-lg !border !border-solid !border-border !shadow-lg !backdrop-blur-md !backdrop-saturate-200 !text-neutral-foreground !font-[Inter] !bg-neutral/[0.6];
    }
  }

  .custom-player-icon-before {
    .art-icon::before {
      @apply !border-t-background/[0.6];
    }
  }

  .custom-player-control-after {
    .art-control::after {
      @apply !rounded-lg !border !border-solid !border-border !shadow-lg !backdrop-blur-md !backdrop-saturate-200 !text-neutral-foreground !font-[Inter] !bg-neutral/[0.6];
    }
  }

  .custom-player-control-before {
    .art-control::before {
      @apply !border-t-background/[0.6];
    }
  }

  .lottie-color {
    svg {
      path {
        @apply stroke-primary;
      }
    }
  }
}
