@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@layer base {
  .h0 {
    @apply text-5xl font-bold md:text-6xl !tracking-tighter text-foreground !font-[Inter];
  }

  h1,
  .h1 {
    @apply text-4xl font-bold md:text-5xl !tracking-tighter text-foreground !font-[Inter];
  }

  h2,
  .h2 {
    @apply text-3xl font-bold md:text-4xl !tracking-tighter text-foreground !font-[Inter];
  }

  h3,
  .h3 {
    @apply text-2xl font-semibold md:text-3xl !tracking-normal text-foreground !font-[Inter];
  }

  h4,
  .h4 {
    @apply text-xl font-semibold md:text-2xl !tracking-tight text-foreground !font-[Inter];
  }

  h5,
  .h5 {
    @apply text-lg font-medium md:text-xl !tracking-tight text-foreground !font-[Inter];
  }

  h6,
  .h6 {
    @apply text-base font-medium md:text-lg !tracking-tight text-foreground !font-[Inter];
  }

  body,
  p,
  .p {
    @apply text-base !tracking-normal text-foreground !font-[Inter];
  }

  .text-display {
    @apply text-inherit text-base !tracking-normal font-normal md:text-lg text-foreground !font-[Inter];
  }

  .text-gradient {
    @apply bg-gradient-to-r from-primary via-neutral-600 to-secondary bg-clip-text text-transparent;
  }
}

@layer components {
  .custom-player-subtitle {
    .art-subtitle {
      p {
        @apply bg-player-subtitle-background-color p-1 m-0 !text-player-subtitle-font-size;
      }
    }
  }

  .custom-player-layer-auto-playback {
    .art-video-player {
      .art-layers {
        .art-layer-auto-playback {
          @apply !rounded-lg !border !border-solid !border-border !shadow-lg !backdrop-blur-2xl !backdrop-contrast-125 !backdrop-saturate-200 !bg-neutral/[0.6];
        }
      }
    }
  }

  .custom-player-contextmenus {
    .art-video-player.art-contextmenu-show {
      .art-contextmenus {
        @apply !rounded-lg !border !border-solid !border-border !shadow-lg !backdrop-blur-2xl !backdrop-contrast-125 !backdrop-saturate-200 !bg-neutral/[0.6];
      }
    }
  }

  .custom-player-info {
    .art-video-player.art-info-show {
      .art-info {
        @apply !rounded-lg !border !border-solid !border-border !shadow-lg !backdrop-blur-2xl !backdrop-contrast-125 !backdrop-saturate-200 !bg-neutral/[0.6];
      }
    }
  }

  .custom-player-notice-inner {
    .art-notice-inner {
      @apply !rounded-lg !border !border-solid !border-border !shadow-lg !backdrop-blur-2xl !backdrop-contrast-125 !backdrop-saturate-200 !bg-neutral/[0.6];
    }
  }

  .custom-mini-player-hover {
    .art-video-player:hover {
      @apply [&_.art-layer-mask]:block [&_.art-layer-mask]:!bg-neutral/[0.6] [&_.art-layer-playPauseButton]:block [&_.art-layer-miniTopControlButtons]:block
    }
  }

  .custom-player-volume-control {
    .art-video-player {
      .art-volume-panel {
        .art-volume-inner {
          @apply !rounded-lg !border !border-solid !border-border !shadow-lg !backdrop-blur-2xl !backdrop-contrast-125 !backdrop-saturate-200 !bg-neutral/[0.6];
        }
      }
    }
  }

  .custom-player-icon-after {
    .art-icon::after {
      @apply !rounded-lg !border !border-solid !border-border !shadow-lg !backdrop-blur-2xl !backdrop-contrast-125 !backdrop-saturate-200 !text-neutral-foreground !font-[Inter] !bg-neutral/[0.6];
    }
  }

  .custom-player-icon-before {
    .art-icon::before {
      @apply !border-t-background/[0.6];
    }
  }

  .custom-player-control-after {
    .art-control::after {
      @apply !rounded-lg !border !border-solid !border-border !shadow-lg !backdrop-blur-2xl !backdrop-contrast-125 !backdrop-saturate-200 !text-neutral-foreground !font-[Inter] !bg-neutral/[0.6];
    }
  }

  .custom-player-control-before {
    .art-control::before {
      @apply !border-t-background/[0.6];
    }
  }

  .lottie-color {
    svg {
      path {
        @apply stroke-primary;
      }
    }
  }
}
